
@main("adminFilm") {
    <!-- Film Item -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="padding-top: 10px;">Title</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-12" id="posterSize">
            <img src="/assets/images/FilmPosters/2.jpg">
        </div>
        <div class="col-lg-9">
            <p><b>Description:</b></p>
            <p><b>Director:</b></p>
            <p><b>Duration:</b></p>
            <p><b>Trailer URL:</b></p>
            <p><a class="btn btn-lg btn-primary" id="right-btn" href="#" role="button">Update</a></p>
            <p><a class="btn btn-lg btn-primary" id="right-btn"href="#" role="button">Delete</a></p>
            <p><a class="btn btn-lg btn-primary" id="right-btn" href="#" role="button">Showings</a></p> <!--uses the films id to access the showing for that particular film-->

        </div>
    </div>
    <div class="container">
            <!-- Film Item -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="padding-top: 10px;">Title</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-12" id="posterSize">
                <img src="/assets/images/FilmPosters/2.jpg">
            </div>
            <div class="col-lg-9">
                <p><b>Description:</b></p>
                <p><b>Director:</b></p>
                <p><b>Duration:</b></p>
                <p><b>Trailer URL:</b></p>
                <p><a class="btn btn-lg btn-primary" id="right-btn" href="#" role="button">Update</a></p>
                <p><a class="btn btn-lg btn-primary" id="right-btn"href="#" role="button">Delete</a></p>
                <p><a class="btn btn-lg btn-primary" id="right-btn" href="#" role="button">Showings</a></p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="padding-top: 10px;">Add New Film</h1>
            </div>
        </div>
        <p><a class="btn btn-xl btn-primary" href="#" role="button">Add New Film</a>

}
