body{
    background-color: lightgrey;
}

#blue-title{
    color: #6EC2F6;
}
#blue-hover:hover{
    color: #6EC2F6;
    transition: 1000s;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #6EC2F6;
}
.navbar-default .navbar-nav > li > a{
    color: #ffffff;
    border-color: black;
    background-color: black;
}


#black-nav{
    background-color: black;
}
.btn-success{
    background-color: #6EC2F6;
}
.navbar-default .navbar-toggle .icon-bar{
   color:white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: black;
}
#posterSize img{
    height: 350px;
    width: 282px;
    padding: 10px;
}